:root{
    --clr-primary-600: hsl(158, 36%, 37%);
    --clr-primary-200: hsl(30, 38%, 92%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-400: hsl(228, 12%, 48%);
    --clr-neutral-900: hsl(212, 21%, 14%);

}

* {
    box-sizing: border-box;
  }


body {
    background-color: var(--clr-primary-200);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.container {
    border-radius: .75rem;
    background-color: var(--clr-neutral-100);
    max-width: 375px;
}


#product{
    padding: 1.75rem;
    color: var(--clr-neutral-400);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#img-product {
    max-width: 100%;
    display: block;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
}

.split {
    display: flex;
    flex-direction: column;
}

@media(min-width: 600px){
    
    .split {
        display: flex;
        flex-direction: row;
    }

    .split > * {
        width: 50%;
    }

    #img-product {
        border-top-left-radius: .75rem;
        border-bottom-left-radius: .75rem;
        border-top-right-radius: 0rem;
        border-bottom-right-radius: 0rem;
    }

    .container {
        max-width: 600px;
    }

}

#title {
    font-family: 'Fraunces', serif;
    color: var(--clr-neutral-900);
    font-size: 2rem;
    line-height: 2rem;
    margin: .75rem 0;
}

.pricing {
    display: flex;
    font-family: 'Fraunces', serif;
    align-items: center;
    margin-bottom: 1rem;
}

.pricing > *{
    margin: 0;
}

.pricing--new {
    padding-right: 1rem;
    font-size: 2rem;
    color: var(--clr-primary-600);
}

.pricing--old {
    text-decoration: line-through;
    color: var(--clr-neutral-900);
    color: var(--clr-neutral-400);
}

#btn-add {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    border: none;
    width: 100%;
    background-color: var(--clr-primary-600);
    color: var(--clr-neutral-100);
    font-family: 'Montserrat', sans-serif;
}

#btn-add > * {
    margin: 0 .5rem;
}

#description {
    line-height: 1.75em;
    margin: 1rem 0;
}

#type {
    letter-spacing: .25rem;
    font-size: 0.75rem;
    margin: 0;
}
